@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@font-face {
    font-family: "love";
    src: url("../fonte/Love.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;   
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: "love", sans-serif;
    --fonte2: "Tangerine", cursive;
    --fonte3: "Dancing Script", cursive;
}

body {
    background-color: darkgrey;
    min-height: 100vh;
}


header > h1 {
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding-top: 50px;
    font-size: 7vw;
    
}

header > p {
    background-color: black;
    color: white;
    font-family: var(--fonte3);
    text-align: center;
    padding-bottom: 50px;
}

section {
    font-family: var(--fonte2);    
    padding-top: 10vh;
    padding-bottom: 10vw;
    padding-left: 30px;
    line-height: 1.5em;
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: black;
    color: white;
}

section.imagem > p {
    background-color: rgb(176, 169, 169);
    display: inline-block;
    padding: 5px;
}

section#img01 {
    background-image: url("../imagens/imagem.jpg");
    background-position: center center;
}

section#img02 {
    background-image: url("../imagens/imagem.jpg");
    background-position: center center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
